<li class="post-item">
    <h3><%= post.id %></h3>
    <h4><%= post.text %></h4>
    <p>Comments: <%= post.comments_count == nil ? 0 : post.comments_count %> Likes: <%= post.likes_count == nil ? 0 : post.likes_count %></p>
</li>