<h1>Details of <%= myuser.name %></h1>
<%= render partial: 'list', collection: myuser, as: :user %>
<div class="Bio">
    <p>Lorem Ipsem</p>
</div>

<ul class="posts-container">
    <%= render partial: 'show', collection: posts, as: :post %>
</ul>