<% @posts.each do |post| %>
  <%= render partial: 'users/show', object: post, as: :post %>
  <div class="comment-container">
    <h3>Recent Comments</h3>
    <% comments = post.recent_comments(5) %>
    <% if comments.length.positive? then %>
      <%= render partial: 'posts/listcoms', collection: comments, as: :comment %>
    <% else %>
      <p>No Comments yet!</p>
    <% end %>
  </div>
<% end %>

<%= will_paginate @posts %>
