<div class="top-com">
    <h1>Post#<%= @post.id %> by <%= @user.name %></h1>
    <%= render partial: 'users/show', object: @post, as: :post %>
</div>
<div class="com-list">
    <%= show_comments(@post) %>
</div>