body * {
    list-style: none;
}
 body > h1 {
    text-align: center;
 }

 .user-container {
    margin-top: 10%;
 }

.user-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
}

.main-details {
    border: 3px solid;
    display: flex;
    min-width: 60%;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.item-no {
    align-self: flex-end;
    margin-bottom: 0;
}

.bio {
    padding: 0 2%;
    border: 3px solid;
    border-radius: 5px;
    margin: auto;
    max-width: 82%;
}

.posts-container {
    margin-top: 8%;
}

.inner-items {
    display: flex;
    justify-content: space-between;
}

.inner-items > p {
    margin-top: -3%;
}

.post-item {
    border: 3px solid;
    border-radius: 5px;
    max-width: 89%;
    margin-bottom: 5%;
    padding: 2%;
}

.post-item > h3 {
    margin-top: 0;
}

.comment-container {
    margin-top: -5%;
    border: 3px solid;
    max-width: 89%;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
}